@import url('https://fonts.googleapis.com/css?family=Croissant+One:regular');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  font-family: "Croissant One", "cursive";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

body,
html {
  scroll-behavior: smooth;
}

/*.project {
    @apply p-4 inline-block transition-transform transform hover:translate-x-4 hover:shadow-lg relative
}

.info {
    @apply absolute bottom-full left-1/2 transform -translate-x-1/2 hidden bg-black bg-opacity-75 text-white p-4 rounded-md transition-opacity duration-300 group-hover:opacity-100
}

.heading {
    @apply text-5xl text-center text-purple font-primary
}



@media screen and (max-width: 1020px) {
    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 40px;
        box-shadow: #6d4d6e(0, 0, 0, 0.1);
        z-index: 1;
        color: #6d4d6e;
    }

    .links.show-menu {
        display: flex;
    }

    .menu-button {
        display: block;
    }

    .flex-col-reverse {
        flex-direction: column-reverse;
    }

}


@media screen and (min-width: 1021px) {
    .menu-button {
        display: none;
    }

    .links {
        display: flex;
    }
}*/