@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover .text-white {
    display: block;
}

/*project {
    padding: 16px;
    display: inline-block;

    p-4 inline-block perspective-lg transition-transform transform hover: translate-x-4 hover:shadow-lg relative group
}*/