/* src/themes.css */
.theme1 {
    background-image: url('./assets/images/dark.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .theme2 {
    background-image: url('./assets/images/dark.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  

  