/* src/themes.css */
.theme1 {
    background-image: url('./assets/images/pink-purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .theme2 {
    background-image: url('./assets/images/bg-portfolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .theme3 {
    background-image: url('./assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  